@page "/"
@using Server.Models
@inject ApiService ApiService
@inject IJSRuntime Js
@rendermode InteractiveServer
@using Syncfusion.Blazor.DropDowns
@using System.Globalization

@* Todo
- link to long/lat picker
*@

<PageTitle>Blazor Weather App</PageTitle>

<script>
    window.registerViewportChangeCallback = (dotnetHelper) => {
        window.addEventListener('load', () => {
            dotnetHelper.invokeMethodAsync('OnResize', window.innerWidth, window.innerHeight);
        });
        window.addEventListener('resize', () => {
            dotnetHelper.invokeMethodAsync('OnResize', window.innerWidth, window.innerHeight);
        });
    }

    var lockResolver;
    if (navigator && navigator.locks && navigator.locks.request) {
        const promise = new Promise((res) => {
            lockResolver = res;
        });

        navigator.locks.request('unique_lock_name', { mode: "shared" }, () => {
            return promise;
        });
    }
</script>

<style>
    .control-section {
        min-height: 370px;
    }

    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 0px 0px 20px 0;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .property-panel-section .property-value {
        padding: 5px 0px 10px;
        font-size: 14px;
    }

    .property-panel-content {
        padding: 0px 0px 15px 0px;
    }

        .property-panel-content:last-child {
            padding: 0px 0px 40px 0px;
        }
</style>

<div class="container">
    <div class="input-section">
        <div class="control-wrapper">
            <SfComboBox TValue="string" TItem="WeatherStations" Placeholder="Select a station" DataSource="@StationData">
                <ComboBoxEvents TValue="string" TItem="WeatherStations" ValueChange="OnChange" />
                <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
            </SfComboBox>
        </div>
        Lat: <input type="text" @bind="Latitude" placeholder="Latitude" pattern="-?\d+(\.\d*)?" oninput="this.value = this.value.replace(/[^0-9\.]/g, '');">
        Long: <input type="text" @bind="Longitude" placeholder="Longitude" pattern="-?\d+(\.\d*)?" oninput="this.value = this.value.replace(/[^0-9\.]/g, '');">
        @if (_displayIcon)
        {
            <button @onclick="RefreshData" type="button" class="btn btn-primary" style="font-family: Lucida Sans Unicode;">&#x21bb;</button>
        }
        else
        {
            <button @onclick="RefreshData" type="button" class="btn btn-primary">Refresh</button>
        }
        @if (IsDataAvailable == false)
        {
            <br/>
            <span style="color: red">Please choose coordinates inside Germany.</span>
        }
    </div>

    <div class="weather-container">
        <h3>Current Weather</h3>
        <h4>Station: @StationName</h4>
        <CurrentWeather CurrentWeatherData="CurrentWeather" Temperature="@Temperature" DewPoint="@DewPoint" Humidity="@Humidity" CloudCover="@CloudCover" Icon="@Icon" LastUpdatedTime="@LastUpdatedTime" />
    </div>

    <div class="historical-averages">
        <h3>Historical Data for @DateTime.Now.ToString("dd MMM")</h3>
        <HistoricalAverages Data="@HistoricalAverages"></HistoricalAverages>
    </div>
    
    <div class="linechart">
        <h3>Mean Temperatures and Precipitation for @DateTime.Now.ToString("MMMM")</h3>
        <WeatherChart Temperatures="@Temperatures" Width="@Width" @rendermode="@RenderMode.InteractiveServer" />
    </div>

    <div class="get-source-code">
        <a href="https://github.com/extrasharp/BlazorWeatherApp" type="button" class="btn btn-primary">Source Code</a>
    </div>
</div>


@code {

    #region Private Members
    public class WeatherStations
    {
        public string ID { get; set; }
        public string Text { get; set; }
        public float Latitude { get; set; }
        public float Longitude { get; set; }
    }
    private DateTime LastUpdated { get; set; }
    private string LastUpdatedTime
    {
        get
        {
            var cstTime = TimeZoneInfo.ConvertTimeBySystemTimeZoneId(LastUpdated, "Central European Standard Time");
            return cstTime.ToString("HH:mm");
        }
    }

    private WeatherService? _weatherService;
    private string Width { get; set; } = "730";
    private List<ChartDataModel> Temperatures = [];
    private int ViewportWidth { get; set; }
    private int ViewportHeight { get; set; }
    private WeatherResponseModel? CurrentWeather { get; set; }
    private string? StationName { get; set; }
    private bool IsDataAvailable { get; set; } = true;
    private WeatherDataModel HistoricalAverages { get; set; } = new();
    private double? CloudCover { get; set; }
    private string Latitude { get; set; }
    List<WeatherStations> StationData = new List<WeatherStations>();
    private string Longitude { get; set; }
    private string? Icon { get; set; }
    private static bool _bigWindowSize = true;

    private double? _temperature;
    private double? Temperature
    {
        get => _temperature;
        set => _temperature = value.HasValue ? Math.Round(value.Value, 1) : null;
    }
    private double? Humidity;

    bool _displayIcon = false; 

    private double? _dewPoint;
    private double? DewPoint
    {
        get => _dewPoint;
        set => _dewPoint = value.HasValue ? Math.Round(value.Value, 1) : null;
    }
    #endregion

    #region Methods
    protected override async Task OnInitializedAsync()
    {
        SetInitialCoordinates();

        await LoadStationList();
        await RefreshData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
            await Js.InvokeVoidAsync("window.registerViewportChangeCallback", DotNetObjectReference.Create(this));
            // var dimension = await Js.InvokeAsync<WindowDimension>("getWindowDimensions");
        }
    }

    [JSInvokable]
    public void OnResize(int width, int height)
    {
        if (ViewportWidth == width && ViewportHeight == height) return;

        ViewportWidth = width;
        ViewportHeight = height;

        switch (ViewportWidth)
        {
            case < 410:
                Width = "270";
                _displayIcon = true;
                break;
            case < 468:
                Width = "300";
                _displayIcon = false;
                break;
            case < 769:
                Width = "500";
                _displayIcon = false;
                break;
            case < 1000:
                Width = "730";
                _displayIcon = false;
                break;
            case >= 1000:
                Width = "730";
                _displayIcon = false;
                break;
            default:
                Width = "730";
                _displayIcon = false;
                break;
        }
        StateHasChanged();
    }

    private async Task LoadStationList()
    {
        StationData.Clear();
        var apiResponse = await ApiService.GetAllWeatherStations();

        StationData.AddRange(apiResponse.sources
            .Where(weatherStation => weatherStation.StationId != null) // Filter out null StationId
            .Where(weatherStation => weatherStation.ObservationType == "synop")
            .Select(weatherStation =>
            {
                var stationName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(weatherStation.StationName.ToLower().Trim());

                // Handle double names with hyphen
                if (stationName.Contains("-"))
                {
                    string[] parts = stationName.Split('-');
                    stationName = string.Join("-", parts.Select(part => CultureInfo.CurrentCulture.TextInfo.ToTitleCase(part.Trim())));
                }

                return new WeatherStations
                    {
                        ID = weatherStation.StationId,
                        Text = stationName,
                        Latitude = weatherStation.Latitude,
                        Longitude = weatherStation.Longitude
                    };
            })
            .GroupBy(weatherStation => new { weatherStation.ID, weatherStation.Text })
            .Select(group => group.First()));

        StationData = StationData
            .OrderBy(station => station.Text)
            .ToList();
    }

    private async Task RefreshData()
    {
        CurrentWeather = null;
        
        if (string.IsNullOrWhiteSpace(Latitude) || string.IsNullOrWhiteSpace(Longitude) || !IsValidCoordinates())
        {
            // Handle validation errors
            return;
        }

        _weatherService = new WeatherService(Latitude, Longitude);

        CurrentWeather = await ApiService.GetCurrentWeatherData(Latitude, Longitude);

        if (CurrentWeather?.weather != null)
        {
            AssignValues();
            await GetHistoricDataForToday();
            await GetChartData();
            IsDataAvailable = true;
        }
        else
        {
            IsDataAvailable = false;
        }
    }

    public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, WeatherStations> args)
    {
        if (args.ItemData != null)
        {
            Latitude = Math.Round(args.ItemData.Latitude, 2).ToString();
            Longitude = Math.Round(args.ItemData.Longitude, 2).ToString();
            
        }
    }

    private bool IsValidCoordinates()
    {
        var latitude = double.Parse(Latitude);
        var longitude = double.Parse(Longitude);

        return latitude is <= 90 and >= -90 && longitude is <= 180 and >= -180;
    }

    private void SetInitialCoordinates()
    {
        Latitude = "51.04";
        Longitude = "13.74";
    }

    private async Task GetHistoricDataForToday()
    {
        if (_weatherService != null)
        {
            var weatherData = await _weatherService.GetWeatherDataForDisplay();

            DisplayDailyMeans(weatherData);
        }
    }

    private async Task GetChartData()
    {
        if (_weatherService != null)
        {
            var weatherData = await _weatherService.GetChartDataForDisplay();

            PopulateChartData(weatherData);
        }
    }

    private void PopulateChartData(IReadOnlyCollection<WeatherDataModel> groupedDayModels)
    {
        Temperatures.Clear();

        foreach (var day in groupedDayModels)
        {
            Temperatures.Add(new ChartDataModel { X = day.Day.ToString(), High = day.MaxTemp, Low = day.MinTemp, Precipitation = day.Precipitation });
        }
    }
    
    private void DisplayDailyMeans(IReadOnlyCollection<WeatherDataModel> days)
    {
        CalculateDailyMeans(days);
        FindRecordHighAndLow(days);
    }

    private void CalculateDailyMeans(IReadOnlyCollection<WeatherDataModel> days)
    {
        HistoricalAverages = new WeatherDataModel
        {
            MeanTemp = CalculateAverage(days, x => x.MeanTemp),
            MaxTemp = CalculateAverage(days, x => x.MaxTemp),
            MinTemp = CalculateAverage(days, x => x.MinTemp),
            Precipitation = CalculateAverage(days, x => x.Precipitation),
            SunshineHours = CalculateAverage(days, x => x.SunshineHours),
        };
    }

    private static double CalculateAverage<T>(IEnumerable<T> collection, Func<T, double> selector)
    {
        return collection.Average(selector);
    }

    private void FindRecordHighAndLow(IReadOnlyCollection<WeatherDataModel> days)
    {
        var recordHighData = days.MaxBy(x => x.MaxTemp);
        var recordLowData = days.MinBy(x => x.MinTemp);

        if (recordHighData != null)
        {
            HistoricalAverages.RecordHigh = recordHighData.MaxTemp;
            HistoricalAverages.RecordHighYear = recordHighData.Year;
        }

        if (recordHighData == null || recordLowData == null) return;

        HistoricalAverages.RecordLow = recordLowData.MinTemp;
        HistoricalAverages.RecordLowYear = recordLowData.Year;
    }


    private void AssignValues()
    {
        if (CurrentWeather?.sources != null) StationName = CurrentWeather?.sources[0].StationName;
        Temperature = CurrentWeather?.weather?.Temperature;
        Humidity = CurrentWeather?.weather?.Humidity;
        DewPoint = CurrentWeather?.weather?.DewPoint;
        CloudCover = CurrentWeather?.weather?.CloudCover;
        LastUpdated = CurrentWeather.weather.TimeStamp;
        
        SetWeatherLogo();
    }

    private void SetWeatherLogo()
    {
        Icon = CurrentWeather?.weather?.Icon switch
        {
            "clear-day" => "sunny",
            "cloudy" => "cloudy",
            "rainy" => "rainy",
            "partly-cloudy-day" => "partly-cloudy",
            "thunderstorm" => "thunderstorm",
            "clear-night" => "clear-night",
            "partly-cloudy-night" => "cloudy-night",
            _ => Icon
        };
    }
    #endregion
}
